/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header{
    background-color: black;
    padding: 20px;
}

/*MAIN*/

.container-cards{
    background-color: gray;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.card{
    padding: 10px;
    background-color: seagreen;
    margin: 15px;
    
}

.card img{
    width: 20px;
    height: 20px;
}

.flag{
    margin-top: 10px ;
}