<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boolflix</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    <div id="root">
        <!--HEADER-->
        <header>

            <div class="logo">boolflix</div>
            <!--search section-->
            <div class="search-section">
                <button @click="search" class="btn">Cerca</button>
                <input v-model="userResearch" type="text" class="input-text">
            </div>
            
            <!--fine search section-->
            
        </header>
        <!--FINE HEADER-->

        <!--MAIN-->
        <main>
            <div class="container-cards clearfix">
                
                <!--CARD MOVIE-->
                <div v-for="movie in arrayMovies" class="card">
                    <!--card-info-->
                    <div class="card-info">

                        <div class="title"><strong>Titolo: </strong>{{movie.title}} </div>

                        <div class="original-title"><strong>Titolo originale: </strong>{{movie.original_title}}</div>

                        <div class="language"><strong>Lingua: </strong>{{movie.original_language}}
                            <!--flag-->
                            <div class="flag"> 
                                <img :src="getFlag(movie.original_language)" alt="">
                            </div>

                        </div>

                        <div class="vote"><strong>Voto: </strong>
                            <!--vote-stars-->
                            <div v-for="star in getRounded(movie.vote_average) " class="stars-vote active" >
                            
                                <span class="star-element">
                                    <i class="fas fa-star"></i>
                                </span>
                               
                            </div>
    
                            <div v-for="star in (5 - getRounded(movie.vote_average)) " class="stars-vote" >
                                
                                <span class="star-element">
                                    <i class="fas fa-star"></i>
                                </span>
                               
                            </div>
                            <!--end vote-stars-->
                        </div>

                        <div class="overview"><strong>Overview: </strong>{{movie.overview}}</div>


                        
                    </div>
                    
                   <!--cover-->
                   <div class="cover"> 
                    <img :src="getPoster(movie.backdrop_path)" alt="">
                   </div>

                </div> 
                <!--FINE CARD MOVIE-->

                <!--CARD SERIE-->
                <div v-for="serie in arraySeries" class="card">
                    <!--card-info-->
                    <div class="card-info">

                        <div class="title"><strong>Titolo: </strong> {{serie.name}} </div>

                        <div class="original-title"><strong>Titolo originale: </strong>{{serie.original_name}}</div>

                        <div class="language"><strong>Lingua: </strong>{{serie.original_language}}

                            <!--flag-->
                            <div class="flag"> 
                                <img :src="getFlag(serie.original_language)" alt="">
                            </div>

                        </div>

                        <div class="vote"><strong>Voto: </strong>
                            <!--vote-stars-->
                            <div v-for="star in getRounded(serie.vote_average) " class="stars-vote active" >
                            
                                <span class="star-element">
                                    <i class="fas fa-star"></i>
                                </span>
                               
                            </div>
    
                            <div v-for="star in (5 - getRounded(serie.vote_average)) " class="stars-vote" >
                                
                                <span class="star-element">
                                    <i class="fas fa-star"></i>
                                </span>
                               
                            </div>
                            <!--end vote-stars-->
                        </div>

                        <div class="overview"><strong>Overview: </strong>{{serie.overview}}</div>

                    </div>
                    
                    <!--cover-->
                    <div class="cover"> 
                        <img :src="getPoster(serie.backdrop_path)" alt="">
                    </div>
                    
                </div>
                <!--FINE CARD SERIE-->

            </div>

        </main>
        <!--FINE-MAIN-->

    </div>
    

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>