<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boolflix</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    <div id="root">

        <header>
            <!--search section-->

            <div class="search-section">
                <button @click="search" class="btn">Cerca</button>
                <input v-model="userResearch" type="text" class="input-text">
            </div>
            
            <!--fine search section-->
            
        </header>

        <main>
            <div class="container-cards">
                
                <!--card movie-->
                <div v-for="movie in arrayMovies" class="card">
                    <div class="title">{{movie.title}} </div>
                    <div class="original-title">{{movie.original_title}}</div>
                    <div class="language">{{movie.original_language}}</div>
                    <div class="vote">{{movie.vote_average}}</div>

                   <div class="flag"> 
                       <img :src="StampFlag(movie.original_language)" alt="">
                   </div>

                </div> 
                <!--fine card movie-->

                <!--card serie-->
                <div v-for="serie in arraySeries" class="card">
                    <div class="title">{{serie.name}} </div>
                    <div class="original-title">{{serie.original_name}}</div>
                    <div class="language">{{serie.original_language}}</div>
                    <div class="vote">{{serie.vote_average}}</div>

                    <div class="flag"> 
                        <img :src="StampFlag(serie.original_language)" alt="">
                    </div>

                    <div class="cover"> 
                        <img :src=" 'https://image.tmdb.org/t/p/w342' + serie.backdrop_path" alt="">
                    </div>
                    
                </div>
                
                <!--fine card serie-->

            </div>

        </main>



    </div>
    

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>